body{
    background-image:
    url('https://media-cldnry.s-nbcnews.com/image/upload/t_fit-1240w,f_auto,q_auto:best/newscms/2019_06/2746941/190208-stock-money-fanned-out-ew-317p.jpg');
background-repeat: no repeat ;
background-attachment: fixed;
background-size:cover; 
}
